.splash {
    position: relative;
    max-width: 95%;
    bottom: 0;
    padding-top: 128px;
    padding-bottom: 128px;
    padding-right: 32px;
    z-index: 3;
}

.splash-copy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 920px;
    position: relative;
    left: 5%;
}

.splash-title {
    color: var(--cpalettecomplimentary);
    max-width: 100%;
    text-align: left;
    font-family: var(--splash-title-font-family);
    font-size: var(--splash-title-font-size-large);
    line-height: 125%;
    font-weight: var(--splash-title-font-weight);
    position: relative;
    padding-bottom: 16px;
}

.splash-body {
    color: var(--cpalettecomplimentary);
    max-width: 100%;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    text-align: left;
    font-family: var(--splash-body-font-family);
    font-size: var(--splash-body-font-size);
    font-weight: var(--splash-body-font-weight);
    padding-bottom: 32px;
    position: relative;
}

.splash-button {
    background: var(--background);
    outline-style: solid;
    outline-width: 2px;
    outline-color: var(--cpalettemedium);
    border-radius: 8px;
    padding: 18px 32px 18px 32px;
    position: relative;
}

.splash-get-involved {
    color: var(--cpalettelight);
    font-family: "Assistant";
    font-size: 32px;
    font-weight: 700;
    position: relative;
}

@media (max-width: 720px) {
    .splash {
        padding-top: 120px;
    }

    .splash-title {
        font-size: var(--splash-title-font-size-small);
    }
}

@media (max-width: 380px) {
    .splash-title {
        font-size: var(--splash-title-font-size-tiny);
    }
}
