{
	admin off
	debug
	log {
		level DEBUG
	}
}

am-d-model.eu {
	reverse_proxy site:3000 {
		health_uri /health
		health_interval 30s
		health_timeout 10s
		health_status 200
	}
}

invenio.am-d-model.eu {
        reverse_proxy invenio.am-d-model.eu:443 {
                header_up Host {host}
                header_up X-Real-IP {remote_host}
                header_up X-Forwarded-Proto "https"
		transport http {
			tls
			tls_insecure_skip_verify
		}
        }
}
