.btmcall {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: left;
  background: #f7f7f7;
  width: 100%;
  position: relative;
  padding: 86px 0 86px 32px;
}

.btmcall-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  max-width: 50%;
  gap: 24px;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 32px 0 32px;
}

@media (max-width: 640px) {
  .btmcall {
    flex-direction: column;
  }

  .btmcall-buttons {
    max-width: 100%;
    padding-top: 32px
  }
}

.btmcall-text {
  color: var(--background);
  text-align: left;
  font-family: var(--bottom-call-font-family);
  font-size: var(--bottom-call-font-size-large);
  line-height: 72px;
  padding-right: 32px;
  position: relative;
}

.btmcall-button1 {
  background: var(--background);
  border-radius: 8px;
  padding: 20px 32px 20px 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.btmcall-button2 {
  background: var(--cpalettecomplimentary, #ffffff);
  border-radius: 8px;
  padding: 20px 32px 20px 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.btmcall-get-involved {
  color: var(--cpalettecomplimentary, #ffffff);
  text-align: left;
  font-family: "Assistant", sans-serif;
  font-size: 24px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.btmcall-contact-us {
  color: var(--background);
  text-align: left;
  font-family: "Assistant", sans-serif;
  font-size: 24px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media (max-width: 380px) {
  .btmcall-text {
    font-size: var(--bottom-call-font-size-small);
  }
}
