.about-page,
.about-page * {
    box-sizing: border-box;
}

.about-page {
    background: var(--cpalettecomplimentary);
    width: 100vw;
    min-width: 250px;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.copy {
    padding: 5% 5% 5% 5%;
}
