/* Figma Styles of your File */:root {
  /* Colors */
  /* Fonts */
  --title-font-family: Martel-Regular, sans-serif;
  --title-font-size: 64px;
  --title-line-height: normal;
  --title-font-weight: 400;
  --title-font-style: normal;
  --body-font-family: Assistant-Regular, sans-serif;
  --body-font-size: 24px;
  --body-line-height: normal;
  --body-font-weight: 400;
  --body-font-style: normal;

  /* Effects */

}

